#categories::-webkit-scrollbar {
    display: none;
}

#categories ul {
    position: absolute;
    list-style: none;

    margin: 0;
    margin-bottom: 52px;
    right: 0;
    /*top: calc(50% - 106px);*/

    line-height: 200%;
    padding: 10px 20px 10px 20px;

    /*background-color: lightblue;*/
}

#categories ul a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#categories ul a:hover {
    color: rgba(255, 0, 0, 0.5) !important;
}