<div id="chat"
     ng-style="{width: contentWidth}"
     ng-controller="chatController"
     ng-mouseleave="hideChat()">

    <ul>
        <li ng-repeat="item in chatItems" ng-class="item.self ? 'self' : '' ">
            <span class="name" ng-if="!item.self">{{item.name}}:</span> <span class="message">{{item.message}}</span>
        </li>
    </ul>

    <input ng-style="{left: menuWidth}"
           type="text"
           placeholder="{{placeholder}}"
           ng-enter="send()">

    <i class="material-icons icon"
       ng-mouseover="showChat()">chat</i>

</div>