<div id="menu"
     ng-style="{width: menuWidth}"
     ng-mouseenter="menuEnter()"
     ng-mouseleave="menuLeave()"
     ng-controller="menuController">

    <ul>
        <li ng-repeat="item in menuItems">

            <a
               ng-click="menu(item)"
               class="{{item.class}}"
               ng-class="item.code === language ? 'chosen' : ''">
                {{item.title}}
            </a>

            <span ng-if="item.title === 'MENU'"></span><!--{{language}} {{version}}-->

        </li>
    </ul>
</div>